html {
	background : white;
	color      : black;
}
table.map {
	border-collapse : collapse;
	margin  : 0;
	padding : 0;
}
table.map td {
	border : 1px solid white;
	height : 24px;
	width  : 24px;
}
table.map td.t {
	border-top-color    : black;
}
table.map td.r {
	border-right-color  : black;
}
table.map td.b {
	border-bottom-color : black;
}
table.map td.l {
	border-left-color   : black;
}
table.map td.start {
	background : #dfd;
}
table.map td.finish {
	background : #fdd;
}
table.map td.active {
	background : #ccc;
}
.unit {
	border : 4px solid transparent;
	height : 0;
	margin : auto;
	width  : 0;
	line-height: 0;
}
.unit-top {
	border-bottom : 12px solid #c3c;
	border-top    : 0;
}
.unit-right {
	border-left   : 12px solid #c3c;
	border-right  : 0;
}
.unit-bottom {
	border-top    : 12px solid #c3c;
	border-bottom : 0;
}
.unit-left {
	border-right  : 12px solid #c3c;
	border-left   : 0;
}
