html {
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

body {
    width: 100%;
    height: 600px;
    padding: 0;
    margin: 0;
    font: 62.5% 'verdana', sans-serif;
    color: #111;
    background: #000;
    overflow: hidden;
}

div#all {
    position: absolute;
	width: 100%;
    display: none;
    padding: 0;
    margin: 0 auto;
    top: 10px;
}

div.clearboth {
    clear: both;
    width: 1px;
    height: 1px;
    font-size: 1px;
    line-height: 0;
}

table.lab {
    border-collapse: collapse;
    margin: 1px auto;
    padding: 0;
    border: 1px solid black;
	background: #fff;
}

table.lab td {
    margin: 0;
    padding: 0;
    width: 4px;
    height: 3px;
    border: none;
}

html>/**/body table.lab td {
    height: 4px;
}

table.lab td div {
    width: 4px;
    height: 4px;
    margin: 0;
    padding: 0;
    font-size: 0;
    line-height: 0;
    border-style: solid;
    border-color: #000;
    border-width: 1px;
}

table.lab td div.start {
    background: #bfb;
}

table.lab td div.finish {
    background: #f00;
}

span#player {
    display: block;
    width: 6px;
    height: 6px;
    margin: -1px;
    border: 0;
    padding: 0;
    background: #0b0;
}
div#screen{
    width: 800px;
    height: 600px;
    margin: 4px auto;
}
div#left{
    float: left;
    width: 120px;
    height: 600px;
    background: no-repeat center;
}
div#right{
    float: left;
    width: 120px;
    height: 600px;
    background: no-repeat center;
}
div#center{
    float: left;
    width: 560px;
    height: 600px;
    background: no-repeat center;
    color: white;
    padding: 0;
    vertical-align: top;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
}
div#top{
    width: 560px;
    height: 167px;
    background: url('imgs/roof.jpg');
    vertical-align: top;
}
div#middle{
    width: 560px;
    height: 290px;
    vertical-align: top;
}
div#bottom{
    width: 560px;
    height: 143px;
    background: url('imgs/floor.jpg');
    vertical-align: top;
    text-align: left;
}
div#far_left{
    float: left;
    width: 119px;
    height: 290px;
}
div#far_right{
    float: left;
    width: 118px;
    height: 290px;
}
div#far_center{
    float: left;
    width: 323px;
    height: 290px;
}
div#far_far_left{
    float: left;
    width: 48px;
    height: 290px;
}
div#far_far_right{
    float: left;
    width: 48px;
    height: 290px;
}
div#far_far_center{
    float: left;
    width: 227px;
    height: 290px;
}

/* Пип бой */
div#compass{
    width: 280px;
    height: 143px;
    margin: 0;
    display: block;
    position: absolute;
    background: url('imgs/navigator/navigator.png');
    vertical-align: top;
    z-index: 0; 
}
div#compass_arrow{
    width: 50px;
    height: 50px;
    display: block;
    margin: 54px 0 0 100px;
    float: left;
    background: url('imgs/navigator/compass.png')
}
div#compass_arrow.u{
    background-position: top left;
}
div#compass_arrow.r{
    background-position: top right;
}
div#compass_arrow.d{
    background-position: bottom right;
}
div#compass_arrow.l{
    background-position: bottom left;
}


div#navigator_arrow{
    width: 50px;
    height: 50px;
    display: block;
    margin: 54px 0 0 10px;
    background: url('imgs/navigator/directions.png');
    float: left;
}

div#navigator_arrow.null { background-position: 50px  50px; }
div#navigator_arrow.d0   { background-position: 100px 50px; }
div#navigator_arrow.d15  { background-position: 150px 50px; }
div#navigator_arrow.d30  { background-position: 200px 50px; }
div#navigator_arrow.d45  { background-position: 250px 50px; }

div#navigator_arrow.d60  { background-position: 50px  100px; }
div#navigator_arrow.d75  { background-position: 100px 100px; }
div#navigator_arrow.d90  { background-position: 150px 100px; }
div#navigator_arrow.d105 { background-position: 200px 100px; }
div#navigator_arrow.d120 { background-position: 250px 100px; }

div#navigator_arrow.d135 { background-position: 50px  150px; }
div#navigator_arrow.d150 { background-position: 100px 150px; }
div#navigator_arrow.d165 { background-position: 150px 150px; }
div#navigator_arrow.d180 { background-position: 200px 150px; }
div#navigator_arrow.d195 { background-position: 250px 150px; }

div#navigator_arrow.d210 { background-position: 50px  200px; }
div#navigator_arrow.d225 { background-position: 100px 200px; }
div#navigator_arrow.d240 { background-position: 150px 200px; }
div#navigator_arrow.d255 { background-position: 200px 200px; }
div#navigator_arrow.d270 { background-position: 250px 200px; }

div#navigator_arrow.d285 { background-position: 50px  250px; }
div#navigator_arrow.d300 { background-position: 100px 250px; }
div#navigator_arrow.d315 { background-position: 150px 250px; }
div#navigator_arrow.d330 { background-position: 200px 250px; }
div#navigator_arrow.d345 { background-position: 250px 250px; }

div#screens {
    margin: 53px 0 0 8px;
    width: 47px;
    height: 49px;
    float: left;
}
div#screens div{
    width: 45px;
    height: 10px;
    margin: 0 0 6px 0;
    padding: 1px;
    text-align: center;
    color: #0d0;
    font: normal 8px 'verdana',sans-serif;
}
div#open_menu{
    width: 36px;
    height: 12px;
    margin: 5px;
    padding: 1px 2px 2px 2px;
    font-size: 12px;
    background: #aaa;
    border: 2px solid black;
    color: #000!important;
    cursor: pointer;
    font-weight: bold;
    line-height:11px;
}
div#open_menu:hover{
    background: #ddd;
}
div#menu_bg{
    width: 820px;
    height: 620px;
    position: absolute;
    display: none;
    margin: -10px;
    background: #000;
    z-index: 5; 
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=60); /* IE 5.5+*/
    -moz-opacity: 0.6; /* Mozilla 1.6 и ниже */
    -khtml-opacity: 0.6; /* Konqueror 3.1, Safari 1.1 */
    opacity: 0.6; /* CSS3 - Mozilla 1.7b +, Firefox 0.9 +, Safari 1.2+, Opera 9 */
}
div#game_menu{
    display: none;
    position: absolute;
    z-index: 6; 
    width: 482px;
    height: 237px;
    vertical-align: top;
    background: #aaa;
    margin: 20px;
    border: 2px outset #666;
}
div#game_menu ul{
    display: block;
    width: 478px;
    height: 233px;
    border: 2px outset #888;
    padding: 0;
    margin: 0;
    list-style: none;
}
div#game_menu ul li{
    display: block;
    width: 300px;
    padding: 4px 0;
    text-align: center;
    margin: auto;
    cursor: pointer;
    color: black;
}
div#game_menu ul li.key{
    width: 240px;
    padding: 4px 30px;
    text-align: left;
}
div#game_menu ul li:hover{
    background: #999;
}

div#paw{
    display: none;
    position: absolute;
    margin: 121px 0 0 220px;
    width: 66px;
    height: 18px;
    background: url('imgs/paw.png');
    z-index: 0; 
}